* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  font-family: Montserrat;
}

.body {
  font-size: 16px;

  }

.header {
  width: 100%;
}

.header__menu_button 
{
  background: none;
  border: none;
  font-size: 1.5rem;
  height: 50px;
  width: 50px;
  position: absolute;
  right: 10px;
  top: 15px;
  cursor: pointer;
  display: none;
}


.header-info {
  height: 80px;
  background-color: #404040;
  color: white; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  font-size: 0.75rem;
  position: relative;
}

.header-block-info {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  gap: 1.7rem;
  margin-right: 1.7rem;
}




.button-order {
  font-size: 1rem;
  font-weight: 700;
  display: flex; 
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  padding: 0.8rem 3vw;
  color: white;
  background-color: #E05100;
}




.header-button-order 
{
  margin-left: 3vw;
}





.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}

.nav
{
height: 80px;
background-color: white;
display: flex;
justify-content: center;
align-items: center;
gap: 5.1vw;
}

.menu
{
  display: flex;
  align-items: center;
}

.list 
{
  display: flex; 
  list-style-type: none; 
  gap: 2.8vw; 
}

.menu-link 
{
  color: black;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.75rem;
}

.main
{

  /* пока пусто*/

}

.block1
{
  background: url(img/фон_1_блока.png);
  background-size: cover;
  display: flex;
  justify-content: center; 
  align-items: center;
  text-align: center;
  color: white;
  height: 530px;
}

.block1-inside
{
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  gap: 30px; 
}

.h1
{
  font-size: 40px;
  font-weight: 700;
}

.description
{
  font-size: 14px;  

}

.button
{
  font-weight: 700;
  justify-content:center;
  align-items: center;
  border-radius: 70px;
  height: 60px;
  width: 240px;
  font-size: 1rem;
  color: white;
  background-color:#E05100;
}



.block2
{
height: 1 593px;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center; 
align-items: center;
gap:60px;
margin: 7.2vw 0vw;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  max-width: 1200px; 
}

.h2
{
    font-size: 35px;
    font-weight: 700;
}

.card-img
{
  height: 114px;
  width: 170px;
  margin-top: 1.7rem;
}

.card-description
{
font-size: 14px;
color:black;
font-weight: 700;
text-align: center;
margin-top: 1.55rem;
}

.card
{
   border-radius:30px;
   height: 264px;
   width: 240px;
   background-color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
   box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  }


@media screen and (width < 1150px)
{
 .header-block-info img
 {
   display: none;
 }
 .block1-inside
 {
  width: 70%;
 }
 .h1
 {
  font-size: 36px;
 }
 .h2
{

  font-size: 30px;
}

}

@media screen and (width < 1020px)
{
 .nav img
 {
  display: none;
 }
 .header-block-info {
  margin-right: 2.5rem;
 }
 .button-order
 {
   padding: 0.8rem 1vh;
 }
 .button-order
 {
  width: 170px;
 }
 .header-button-order
 {
   padding: 0.8rem 0.8rem;
 }
 .h1 {
  font-size: 32px; 
}
.h2

.block1-inside {
  width: 80%; 
}
}

@media screen and (width < 769px) {
  .nav {
    display: none;
  }
  .header-block-info {
    display: none; 
  }
  .button-order {
    display: none;
  }
  .h1 {
    font-size: 24px; 
  }
  .block1-inside {
    width: 95%;
  }
  .description
  {
    font-size: 12px;
  }
  .header__menu_button 
  {
    display: block;
  }
  .h2
  {
    font-size: 20px;
  }
}
